{{> background}}
{{> navigation}}
{{> mobilemenu}}

<section class="auth">
  <div class="auth-container">
    <div class="auth-header">
      <h1>Login</h1>
    </div>
    
    {{#if error}}
      <div class="alert error">{{error}}</div>
    {{/if}}
    
    {{#if success}}
      <div class="alert success">{{success}}</div>
    {{/if}}
    
    <form action="/auth/login" method="POST" class="auth-form">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
      </div>
      
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
      
      <div class="form-group">
        <button type="submit" class="auth-button">Login</button>
      </div>
    </form>
  </div>
</section>

{{> footer}}