<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <%- include('partials/navbar') %>
      
      <div class="jumbotron">
        <h1>Skills</h1>
        <p class="lead">Technical expertise and professional capabilities</p>
      </div>
      
      <div class="row">
        <div class="col-md-6">
          <h2>Technical Skills</h2>
          
          <h4>Frontend Development</h4>
          <div class="skill-bar">
            <div class="skill-progress" style="width: 90%;">JavaScript - 90%</div>
          </div>
          <div class="skill-bar">
            <div class="skill-progress" style="width: 85%;">React - 85%</div>
          </div>
          <div class="skill-bar">
            <div class="skill-progress" style="width: 90%;">HTML5/CSS3 - 90%</div>
          </div>
          <div class="skill-bar">
            <div class="skill-progress" style="width: 80%;">Vue.js - 80%</div>
          </div>
          
          <h4>Backend Development</h4>
          <div class="skill-bar">
            <div class="skill-progress" style="width: 85%;">Node.js - 85%</div>
          </div>
          <div class="skill-bar">
            <div class="skill-progress" style="width: 80%;">C# .NET - 80%</div>
          </div>
          <div class="skill-bar">
            <div class="skill-progress" style="width: 75%;">Python - 75%</div>
          </div>
          <div class="skill-bar">
            <div class="skill-progress" style="width: 80%;">Express - 80%</div>
          </div>
          
          <h4>Databases</h4>
          <div class="skill-bar">
            <div class="skill-progress" style="width: 85%;">SQL Server - 85%</div>
          </div>
          <div class="skill-bar">
            <div class="skill-progress" style="width: 80%;">MongoDB - 80%</div>
          </div>
          <div class="skill-bar">
            <div class="skill-progress" style="width: 75%;">MySQL - 75%</div>
          </div>
        </div>
        
        <div class="col-md-6">
          <h2>Professional Skills</h2>
          
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">IT Service Management</h3>
            </div>
            <div class="panel-body">
              <ul>
                <li>ITIL Practices</li>
                <li>ServiceNow Administration</li>
                <li>Incident Management</li>
                <li>Knowledge Base Development</li>
                <li>Technical Documentation</li>
              </ul>
            </div>
          </div>
          
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Tools & Platforms</h3>
            </div>
            <div class="panel-body">
              <ul>
                <li>Git/GitHub</li>
                <li>VS Code / Visual Studio</li>
                <li>Windows Server Administration</li>
                <li>Active Directory</li>
                <li>Microsoft 365 Administration</li>
                <li>Azure Cloud Services</li>
              </ul>
            </div>
          </div>
          
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Soft Skills</h3>
            </div>
            <div class="panel-body">
              <ul>
                <li>Problem Solving</li>
                <li>Communication</li>
                <li>Time Management</li>
                <li>User Training</li>
                <li>Cross-functional Collaboration</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
      <%- include('partials/footer') %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
  </body>
</html>