<div class="cyber-bg">
    <div class="cyber-gradient"></div>
    <div class="matrix-rain" id="matrixRain"></div>
</div>

<div class="particles" id="particlesContainer"></div>

<div class="data-streams" id="dataStreams"></div>

<div class="orb orb1"></div>
<div class="orb orb2"></div>
<div class="orb orb3"></div>

<div class="grid-overlay">
    <div class="grid-lines"></div>
    <div class="grid-glow"></div>
</div>

<div class="scanlines"></div>
<div class="noise-overlay"></div>