<div class="mobile-menu-overlay" id="mobileMenuOverlay"></div>
<div class="mobile-menu" id="mobileMenu">
    <div class="mobile-menu-header">
        <a href="/" class="mobile-menu-logo">{{title}}</a>
        <button class="mobile-menu-close" id="mobileMenuClose">✕</button>
    </div>
    <nav class="mobile-menu-nav">
        <ul>
        </ul>
    </nav>
</div>