<nav>
    <div class="nav-container">
        <a href="/" class="logo">{{title}}</a>
        <button class="mobile-menu-button" id="mobileMenuBtn">
            <div class="hamburger">
            </div>
        </button>
    </div>
</nav>