<nav>
    <div class="nav-container">
        <a href="/" class="logo">NexusCartridge</a>
        <ul class="nav-links">
            <li><a href="/cartridges">Cartridges</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
        <button class="mobile-menu-button" id="mobileMenuBtn">
            <div class="hamburger">
                <span></span>
            </div>
        </button>
    </div>
</nav>